@import "global.scss";


.posts-container {
    width: 100%;
    height: calc(100vh - #{$navbarHeight});
    overflow-y: scroll;
    position: fixed;
    background: $red-background;
    top: $navbarHeight;
    left: 0;
}

.posts { 
    justify-content: space-evenly;
    padding-bottom: 15vh;

    .post {
        border-radius: 20px !important;
        flex: 0 0 calc(95vw / var(--number-posts-per-row));
        background-repeat: no-repeat;
        background-size: 100% 100%;    
        margin-top: 15px;
        box-shadow:  1px 1px 10px 0 rgba(0, 0, 0, 0.1);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;;
        transition: transform 1s ease-in;
        -webkit-transition: transform 1s ease-in;
        -webkit-transition: -webkit-transform 1s ease-in;
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;

        &.selected {
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
        }

        &:hover {
            animation: post-border-ripple 1s ease-in infinite;
        }
        
        .background-image {
            height: 100%;
        }
    
        .gender-age-container {
            font-family: $narrationFontFamily;
            display: flex;
            justify-content: space-evenly;
            padding: 0;
            background: none;
            .gender {
                .male {
                    color: $maleColor
                }
    
                .female {
                    color: $femaleColor
                }
            }
        }
    
        .narrations {
            text-shadow: 1px 1px 3px gray; 
            & * {
                background: none;
                border: none;
            }

            .narration-content, .narration-label {
                text-align: center;
            }

            .narration-content {
                font-style: italic;
                font-family: $narrationFontFamily;
            }
            
            &:last-child {
                margin-bottom: 15px;
            }
        }
    }

    .spinner-card {
        text-align: center;
        align-items: center;
    }
}

@keyframes post-border-ripple {
    0% {
      box-shadow:  0 0 0 1px rgba(32, 112, 218, 0.3);
    }
    100% {
      box-shadow:  0 0 0 15px rgba(32, 112, 218, 0.1);
    }
  }


